<% include partials/header %>
<!-- 	Form to Search for a Student using student id	 -->
<script>
	$(document).ready( function () {
    	$('#dataTable').DataTable();
	});
</script>
<div class="container-fluid">
    <form class="form-inline row mx-auto" method="POST" action="/delete">
        <div class="container form-group mx-auto">
			<label class="font-weight-bold mx-4">Admission Year</label>
			<select class="form-control mx-1" id="AdmissionYear" name="AdmissionYear">
				<option selected>Choose...</option>
            	<option value="2018-2019">2018-2019</option>
                <option value="2019-2020">2019-2020</option>
                <option value="2020-2021">2020-2021</option>
                <option value="2021-2022">2021-2022</option>
                <option value="2022-2023">2022-2023</option>
                <option value="2023-2024">2023-2024</option>
                <option value="2024-2025">2024-2025</option>
                <option value="2025-2026">2025-2026</option>
            </select>
			<label class="font-weight-bold mx-4">Course</label>
			<select class="form-control mx-1" id="course" onchange="funToggle(this.value)" name="Course">
				<option selected>Choose...</option>
                <option value="BTech">BTech</option>
                <option value="MTech">MTech</option>
                <option value="MBA">MBA</option>
            </select>
			<button type="submit" class="btn btn-danger text-align-right mx-5">Delete All</button>
		</div>
    </form>
</div>
<!-- Details of Students which are stored in the DB -->
<hr style="border-width: 5px !important;">
<div class="container-fluid">
    <table class="table table-striped display" id="dataTable">
        <thead>
            <tr>
                <th scope="col">Regn No</th>
	            <th scope="col">Name</th>
                <th scope="col">Branch</th>
                <th scope="col">Year</th>
                <th scope="col" class="px-auto">Delete</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach((student) => { %>
                <tr>
                    <th scope="row">
                        <%= student.RegnNo %>
                    </th>
                    <td>
                        <%= student.Name %>
                    </td>
                    <td>
                        <%= student.Branch %>
                    </td>
                    <td>
                        <%= student.AdmissionYear %>
                    </td>
                    <td class="px-auto">
                        <a href="/delete/<%= student.RegnNo %>" class="btn btn-danger btn-sm w-50 mx-auto">Delete</a>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>
<% include partials/footer %>