<% include partials/header %>
<script>
    /*
                    Function to Toggle three listbox according to the selected Course.
                    If the User will select B.Tech in the Course option, then the Branch options will be changed according to the branched available in the B.Tech course.
                    We will call this function whenever user changes course from B.Tech to any other course.
                    */
    function funToggle(val) {
        if (val == "BTech") {
            $('#MTech').addClass('d-none');
            $('#MBA').addClass('d-none')
            $('#BTech').removeClass('d-none');
        } else if (val == "MTech") {
            $('#BTech').addClass('d-none');
            $('#MBA').addClass('d-none')
            $('#MTech').removeClass('d-none');
        } else if (val == "MBA") {
            $('#MTech').addClass('d-none');
            $('#BTech').addClass('d-none')
            $('#MBA').removeClass('d-none');
        }
    }
    // Convert the passed DBMS object into JSON object.
    const student = <%- JSON.stringify(student) %>;
    // To execute some jQuery instructions when the webpage loads, you need to use this function.
	function startup() {
		$(document).ready(() => {
			funToggle(student.Course);
			$('#course').val(student.Course); // To select the previous course
			$('#' + student.Course).val(student.Branch); // To select the previous branch
			$('#AllotmentCategory').val(student.AllotmentCategory); // To select the previous AllotmentCategory
			$('#AdmissionMode').val(student.AdmissionMode);
			$('#AdmissionYear').val(student.AdmissionYear);
			$('#' + student.Gender).prop("checked", true);
		});	
	}  
</script>
<!-- Begin Page Content -->
<script type="text/javascript" language="JavaScript">
	startup();
</script>
<div class="container-fluid">

    <div class="container text-center mt-5">
        <h1>
            Edit Student
            <%= student.Name %>
        </h1>
    </div>
    <!-- After the submission of this form, user will be redirected to another webpage. During the process, all the previous values of the selected 'student' will be over-written by the new values. -->
    <form action="/edit/<%=student._id%>" method="POST">
        <div class="container my-5">
            <div class="container form-group">
                <div class="row form-group justify-content-end">
                    <div class="col col-md-2 mx-5">
                        <label class="font-weight-bold ">Registration No</label>
                    </div>
                    <div class="col col-md-6 mx-5">
                        <input type="text" class="form-control w-75" id="regNo" name="RegnNo" placeholder="Registration No" value='<%=student.RegnNo%>'>
                    </div>
                </div>
            </div>

            <div class="container form-group">
                <div class="row form-group justify-content-end">
                    <div class="col col-md-2 mx-5">
                        <label class="font-weight-bold ">Aadhar No</label>
                    </div>
                    <div class="col col-md-6 mx-5">
                        <input type="text" class="form-control w-75" id="aadharNo" name="AadhaarNo" placeholder="Aadhar No" value='<%= student.AadhaarNo %>'>
                    </div>
                </div>
            </div>

            <div class="container form-group">
                <div class="row form-group justify-content-end">
                    <div class="col col-md-2 mx-5">
                        <label class="font-weight-bold ">Student's Name</label>
                    </div>
                    <div class="col col-md-6 mx-5">
                        <input type="text" class="form-control w-75" id="sname" name="Name" placeholder="Student's Name" value="<%= student.Name %>">
                    </div>
                </div>
            </div>

            <div class="container form-group">
                <div class="row form-group justify-content-end">
                    <div class="col col-md-2 mx-5">
                        <label class="font-weight-bold ">Father's Name</label>
                    </div>
                    <div class="col col-md-6 mx-5">
                        <input type="text" class="form-control w-75" id="fname" name="Fname" placeholder="Father's Name" value="<%= student.Fname %>">
                    </div>
                </div>
            </div>

            <div class="container form-group">
                <div class="row form-group justify-content-end">
                    <div class="col col-md-2 mx-5">
                        <label class="font-weight-bold ">Gender</label>
                    </div>
                    <div class="col col-md-6 mx-5">

                        <div class="row justify-content-start px-4">
                            <div class="col col-md-4">
                                <input class="form-check-input" type="radio" name="Gender" id="Male" value="Male">
                                <label class="">Male</label>
                            </div>
                            <div class="col col-md-4">
                                <input class="form-check-input" type="radio" id="Female" name="Gender" value="Female">
                                <label class="">Female</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container form-group">
                <div class="row form-group justify-content-end">
                    <div class="col col-md-2 mx-5">
                        <label class="font-weight-bold ">Admission Year</label>
                    </div>
                    <div class="col col-md-6 mx-5">
                        <select class="form-control w-75" id="AdmissionYear" name="AdmissionYear">
                            <option value="2018-2019">2018-2019</option>
                            <option value="2019-2020">2019-2020</option>
                            <option value="2020-2021">2020-2021</option>
                            <option value="2021-2022">2021-2022</option>
                            <option value="2022-2023">2022-2023</option>
                            <option value="2023-2024">2023-2024</option>
                            <option value="2024-2025">2024-2025</option>
                            <option value="2025-2026">2025-2026</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="container form-group">
                <div class="row form-group justify-content-end">
                    <div class="col col-md-2 mx-5">
                        <label class="font-weight-bold ">Course</label>
                    </div>
                    <div class="col col-md-6 mx-5">
                        <select class="form-control w-75" id="course" onchange="funToggle(this.value)" name="Course">
                            <option value="BTech" selected>BTech</option>
                            <option value="MTech">MTech</option>
                            <option value="MBA">MBA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="container form-group">
                <div class="row form-group justify-content-end">
                    <div class="col col-md-2 mx-5">
                        <label class="font-weight-bold ">Branch</label>
                    </div>
                    <div class="col col-md-6 mx-5">
                        <select class="form-control w-75" id="BTech" name="Branch">
                            <option value="CS">CS</option>
                            <option value="IT">IT</option>
                            <option value="ECE">ECE</option>
                            <option value="ME">ME</option>
                            <option value="EE">EE</option>
                            <option value="CE">CE</option>
                        </select>
                        <select class="form-control w-75 d-none" id="MTech" name="Branch">
                            <option value="CS">CS</option>
                            <option value="PS">PS</option>
                            <option value="DC">DC</option>
                            <option value="VLSI">VLSI</option>
                            <option value="PE">PE</option>
                            <option value="RET">RET</option>
                            <option value="TE">TE</option>
                        </select>
                        <select class="form-control w-75 d-none" id="MBA" name="Branch">
                            <option value="MBA">MBA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="container form-group">
                <div class="row form-group justify-content-end">
                    <div class="col col-md-2 mx-5">
                        <label class="font-weight-bold ">Allotment Category</label>
                    </div>
                    <div class="col col-md-6 mx-5">
                        <select class="form-control w-75" id="AllotmentCategory" name="AllotmentCategory">
                            <option value="SFS">SFS</option>
                            <option vlaue="EWS">EWS</option>
                            <option vlaue="TFWS">TFWS</option>
                            <option vlaue="KM">KM</option>
                            <option vlaue="PMSSS">PMSSS</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="container form-group">
                <div class="row form-group justify-content-end">
                    <div class="col col-md-2 mx-5">
                        <label class="font-weight-bold ">Admission Mode</label>
                    </div>
                    <div class="col col-md-6 mx-5">
                        <select class="form-control w-75" id="AdmissionMode" name="AdmissionMode">
                            <option value="REAP">REAP</option>
                            <option value="CAM">CAM</option>
                            <option value="LEEP">LEEP</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="container form-group">
                <div class="row form-group justify-content-end">
                    <div class="col col-md-2 mx-5">
                        <label class="font-weight-bold ">Contact No. 1</label>
                    </div>
                    <div class="col col-md-6 mx-5">
                        <input type="text" class="form-control w-75" id="cn1" placeholder="Contact No. 1" name="Contact1" value="<%= student.Contact1 %>">
                    </div>
                </div>
            </div>
            <div class="container form-group">
                <div class="row form-group justify-content-end">
                    <div class="col col-md-2 mx-5">
                        <label class="font-weight-bold ">Contact No. 2</label>
                    </div>
                    <div class="col col-md-6 mx-5">
                        <input type="text" class="form-control w-75" id="cn2" placeholder="Contact No. 2" name="Contact2" value="<%= student.Contact2 %>">
                    </div>
                </div>
            </div>
            <div class="container form-group">
                <div class="row form-group justify-content-end">
                    <div class="col col-md-2 mx-5">
                        <label class="font-weight-bold ">E-mail</label>
                    </div>
                    <div class="col col-md-6 mx-5">
                        <input type="email" class="form-control w-75" id="email" placeholder="E-mail" name="Email" value="<%= student.Email %>">
                    </div>
                </div>
            </div>
            <div class="container form-group">
                <div class="row form-group">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary mb-2 px-auto">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- /.container-fluid -->
<% include partials/footer %>