<% include partials/header %>
<script>
	$(document).ready( function () {
    	$('#dataTable').DataTable();
	});
</script>
<div class="container-fluid">
	<table class="table table-striped display" id="dataTable">
        <thead>
            <tr>
                <th scope="col">Regn No</th>
                <th scope="col">Name</th>
				<th scope="col">Course</th>
                <th scope="col">Branch</th>
                <th scope="col">Year</th>
				 <th scope="col">Pending Docs</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach((student) => { %>
                <tr>
                    <th scope="row">
                        <%= student.RegnNo %>
                    </th>
                    <td>
                        <%= student.Name %>
                    </td>
					<td>
                        <%= student.Course %>
                    </td>
                    <td>
                        <%= student.Branch %>
                    </td>
                    <td>
                        <%= student.AdmissionYear %>
                    </td>
					 <td>
                        <%= student.PendingDocuments %>
                    </td>
                 
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>

<% include partials/footer %>