<% include partials/header %>
<!-- 	Form to Search for a Student using student id	 -->

<script>
	$(document).ready();
</script>
<!-- Details of Students which are stored in the DB -->
<div class="container" id='print-content'>
    <table class="table table-striped display" id="dataTable">
        <thead>
            <tr>
                <th scope="col">Regn No</th>
                <th scope="col">Name</th>
				<th scope="col">Course</th>
                <th scope="col">Branch</th>
                <th scope="col">Year</th>
                <th scope="col" class="px-auto">Submit</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach((student) => { %>
                <tr>
                    <th scope="row">
                        <%= student.RegnNo %>
                    </th>
                    <td>
                        <%= student.Name %>
                    </td>
					<td>
                        <%= student.Course %>
                    </td>
                    <td>
                        <%= student.Branch %>
                    </td>
                    <td>
                        <%= student.AdmissionYear %>
                    </td>
                    <td class="px-auto">
                        <a href="/submitDocuments/<%= student.RegnNo %>" class="btn btn-warning btn-sm w-50 mx-auto">Submit</a>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>
<% include partials/footer %>