<html>
	<head>
		<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>Student Info</title>
	</head>
	<body>
		<nav class="navbar bg-dark">
			<a class="navbar-brand text-light" href='/'>Home</a>
		</nav>
		
<!-- 	Form to Search for a Student using student id	 -->
		<div class="container my-5">
			<form class="form-inline row mx-5" method="POST" action="/submitDocument/searchById">
				<div class="form-group mb-2 col-md-4 justify-content-end">
					<label class="font-weight-bold mx-auto w-100">Student Id</label>
				</div>
				<div class="form-group mx-sm-3 mb-2 col-md-4 justify-content-end">
					<input type="text" class="form-control mx-auto w-100" name="id" placeholder="student id">
				</div>
				<button type="submit" class="btn btn-primary mb-2 col-md-3 mx-auto justify-content-end">Confirm</button>
			</form>
		</div>
<!-- Details of Students which are stored in the DB -->
		<div class="container">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Regn No</th>
						<th scope="col">Name</th>
						<th scope="col">Branch</th>
						<th scope="col">Year</th>
						<th scope="col" class="px-auto">Edit</th>
					</tr>
				</thead>
				<tbody>
					<% students.forEach((student) => { %>
						<tr>
						<th scope="row"><%= student.RegnNo %></th>
						<td><%= student.Name %></td>
						<td><%= student.Branch %></td>
						<td><%= student.AdmissionYear %></td>
						<td class="px-auto"><a href="/submitDocument/<%= student.RegnNo %>" class="btn btn-warning btn-sm w-50 mx-auto">Edit</a></td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</body>
</html>